/* .card {
  width: 300px;
  height: 220px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 30px;
  gap: 13px;
  position: relative;
  overflow: hidden;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.062);
} */

#cookieSvg {
    width: 50px;
  }
  
  #cookieSvg g path {
    fill: rgb(97, 81, 81);
  }
  
  .cookieHeading {
    font-size: 1.2em;
    font-weight: 800;
    color: rgb(26, 26, 26);
  }
  
  .cookieDescription {
    text-align: center;
    font-size: 0.7em;
    font-weight: 600;
    color: rgb(99, 99, 99);
  }
  
  
  
  
  .buttonContainer {
    display: flex;
    gap: 20px;
    flex-direction: row;
  }
  
  .acceptButton {
    width: 100px;
    height: 30px;
    background-color: #338CF5;
    transition-duration: .2s;
    border: none;
    color: rgb(241, 241, 241);
    cursor: pointer;
    font-weight: 600;
    border-radius: 20px;
    transition: all .6s ease;
  }
  
  .acceptButton:hover {
    background-color: #4FD1C5;
    box-shadow: 0 10px 15px -3px #4FD1C5, 0 4px 6px -2px #4FD1C5;
    transition-duration: .2s;
  }
  .download-button {
    position: relative;
    border-width: 0;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border-radius: 4px;
    z-index: 1;
   }
   
   .download-button .docs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    min-height: 40px;
    padding: 0 10px;
    border-radius: 4px;
    z-index: 1;
    background-color: #242a35;
    border: solid 1px #e8e8e82d;
    transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
   }
   
   .download-button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   }
   
   .download {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    margin: 0 auto;
    z-index: -1;
    border-radius: 4px;
    transform: translateY(0%);
       background-image: linear-gradient(to bottom right, #338CF5, #4FD1C5);
   
    border: solid 1px #01e0572d;
    transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
   }
   
   .download-button:hover .download {
    transform: translateY(100%)
   }
   
   .download svg polyline,.download svg line {
    animation: docs 1s infinite;
   }
   
   @keyframes docs {
    0% {
     transform: translateY(0%);
    }
   
    50% {
     transform: translateY(-15%);
    }
   
    100% {
     transform: translateY(0%);
    }
   }
   /* <reset-style> ============================ */
  a {
  text-decoration: none;
  }
  /* <main-style> ============================ */
  .menu__link {
  color: #338CF5;
  line-height: 2;
  position: relative;
  padding-right: 4px;
  }
  
  .menu__link:hover {
  text-decoration: underline;
  }
  
  .menu__link::before {
  content: '';
  width: 6px;
  height: 6px;
  border-top: solid 2px #338CF5;
  border-right: solid 2px #338CF5;
  border-radius: 2px;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%) rotate(45deg);
  }
  .Btnn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border-radius: calc(45px/2);
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background: linear-gradient(144deg,#af40ff,#5b42f3 50%,#00ddeb);
  }
  
  /* plus sign */
  .sign {
  width: 100%;
  font-size: 2.2em;
  color: white;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  /* text */
  .textcreate {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.4em;
  font-weight: 500;
  transition-duration: .3s;
  }
  /* hover effect on button width */
  .Btnn:hover {
  width: 125px;
  transition-duration: .3s;
  }
  .btn-smm[disabled] {
    cursor: not-allowed; /* Change cursor to not-allowed */
    color: #ffffff; /* Change text color to gray */
    background-color: #338ef5a1; /* Change background color to light gray */
    border-color: #338ef5; /* Change border color to light gray */
  }
  
  .Btnn:hover .sign {
  width: 30%;
  transition-duration: .3s;
  padding-left: 15px;
  }
  /* hover effect button's text */
  .Btnn:hover .textcreate {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 15px;
  }
  /* button click effect*/
  .Btnn:active {
  transform: translate(2px ,2px);
  }
  
  .timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fff;
  }
  .timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) rotate(45deg);
  width: 20px;
  height: 20px;
  z-index: 2;
  background: #eee;
  }
  .timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 20px;
  background: #fff;
  box-shadow: 4px 13px 30px 1px #5a42f32c;
  border-radius: 5px;
  display: flex;
  align-items: center;
  }
  .timeline ul li div time {
  position: absolute;
  background: #0091FF;
  width: 50%;
  height: 30px;
  color: #fff;
  top: -15px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  }
  .timeline ul li div div {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  .timeline ul li div div p {
  text-align: center;
  }
  .timeline ul li div .discovery {
  margin-right: 10px;
  }
  .timeline ul li:nth-of-type(odd) > div {
  left: 45px;
  }
  .timeline ul li:nth-of-type(even) > div {
  left: -439px;
  }
  
  .timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  }
  .timeline ul li:nth-of-type(odd) div {
  transform: translate3d(100px, -10px, 0) rotate(10deg);
  }
  .timeline ul li:nth-of-type(even) div {
  transform: translate3d(-100px, -10px, 0) rotate(10deg);
  }
  .timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
  }
  
  @media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
    flex-direction: column;
  }
  .timeline ul li div div {
    width: 80%;
    margin: 10px;
  }
  .timeline ul li:nth-of-type(even) > div {
    left: -289px;
  }
  }
  @media screen and (max-width: 600px) {
  
  
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-of-type(even) > div {
    left: 45px;
  }
  }
  .carddt {
  width: 100%; /* Match the width of the input */
  height: 2.5rem; /* Set a fixed height */
  border-radius: 0.25rem; /* Adjust the border radius as needed */
  background: #e0e0e0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  }
  input.selected {
  border-radius: 5px; /* Change border radius */
  background-color: pink; /* Change background color */
  }
  #heart-svg {
    cursor: pointer;
    overflow: visible;
    width: 60px;
    margin-top: 2em;
  }
  
  svg #heart {
    transform-origin: center;
    animation: animateHeartOut .3s linear forwards;
  }
  
  svg #main-circ {
    transform-origin: 29.5px 29.5px;
  }
  
  .checkbox {
    display: none;
  }
  
  .checkbox:checked+label svg #heart {
    transform: scale(0.2);
    fill: #E2264D;
    animation: animateHeart .3s linear forwards .25s;
  }
  
  .checkbox:checked+label svg #main-circ {
    transition: all 2s;
    animation: animateCircle .3s linear forwards;
    opacity: 1;
  }
  
  .checkbox:checked+label svg #grp1 {
    opacity: 1;
    transition: .1s all .3s;
  }
  
  .checkbox:checked+label svg #grp1 #oval1 {
    transform: scale(0) translate(0, -30px);
    transform-origin: 0 0 0;
    transition: .5s transform .3s;
  }
  
  .checkbox:checked+label svg #grp1 #oval2 {
    transform: scale(0) translate(10px, -50px);
    transform-origin: 0 0 0;
    transition: 1.5s transform .3s;
  }
  
  .checkbox:checked+label svg #grp2 {
    opacity: 1;
    transition: .1s all .3s;
  }
  
  .checkbox:checked+label svg #grp2 #oval1 {
    transform: scale(0) translate(30px, -15px);
    transform-origin: 0 0 0;
    transition: .5s transform .3s;
  }
  
  .checkbox:checked+label svg #grp2 #oval2 {
    transform: scale(0) translate(60px, -15px);
    transform-origin: 0 0 0;
    transition: 1.5s transform .3s;
  }
  
  .checkbox:checked+label svg #grp3 {
    opacity: 1;
    transition: .1s all .3s;
  }
  
  .checkbox:checked+label svg #grp3 #oval1 {
    transform: scale(0) translate(30px, 0px);
    transform-origin: 0 0 0;
    transition: .5s transform .3s;
  }
  
  .checkbox:checked+label svg #grp3 #oval2 {
    transform: scale(0) translate(60px, 10px);
    transform-origin: 0 0 0;
    transition: 1.5s transform .3s;
  }
  
  .checkbox:checked+label svg #grp4 {
    opacity: 1;
    transition: .1s all .3s;
  }
  
  .checkbox:checked+label svg #grp4 #oval1 {
    transform: scale(0) translate(30px, 15px);
    transform-origin: 0 0 0;
    transition: .5s transform .3s;
  }
  
  .checkbox:checked+label svg #grp4 #oval2 {
    transform: scale(0) translate(40px, 50px);
    transform-origin: 0 0 0;
    transition: 1.5s transform .3s;
  }
  
  .checkbox:checked+label svg #grp5 {
    opacity: 1;
    transition: .1s all .3s;
  }
  
  .checkbox:checked+label svg #grp5 #oval1 {
    transform: scale(0) translate(-10px, 20px);
    transform-origin: 0 0 0;
    transition: .5s transform .3s;
  }
  
  .checkbox:checked+label svg #grp5 #oval2 {
    transform: scale(0) translate(-60px, 30px);
    transform-origin: 0 0 0;
    transition: 1.5s transform .3s;
  }
  
  .checkbox:checked+label svg #grp6 {
    opacity: 1;
    transition: .1s all .3s;
  }
  
  .checkbox:checked+label svg #grp6 #oval1 {
    transform: scale(0) translate(-30px, 0px);
    transform-origin: 0 0 0;
    transition: .5s transform .3s;
  }
  
  .checkbox:checked+label svg #grp6 #oval2 {
    transform: scale(0) translate(-60px, -5px);
    transform-origin: 0 0 0;
    transition: 1.5s transform .3s;
  }
  
  .checkbox:checked+label svg #grp7 {
    opacity: 1;
    transition: .1s all .3s;
  }
  
  .checkbox:checked+label svg #grp7 #oval1 {
    transform: scale(0) translate(-30px, -15px);
    transform-origin: 0 0 0;
    transition: .5s transform .3s;
  }
  
  .checkbox:checked+label svg #grp7 #oval2 {
    transform: scale(0) translate(-55px, -30px);
    transform-origin: 0 0 0;
    transition: 1.5s transform .3s;
  }
  
  .checkbox:checked+label svg #grp2 {
    opacity: 1;
    transition: .1s opacity .3s;
  }
  
  .checkbox:checked+label svg #grp3 {
    opacity: 1;
    transition: .1s opacity .3s;
  }
  
  .checkbox:checked+label svg #grp4 {
    opacity: 1;
    transition: .1s opacity .3s;
  }
  
  .checkbox:checked+label svg #grp5 {
    opacity: 1;
    transition: .1s opacity .3s;
  }
  
  .checkbox:checked+label svg #grp6 {
    opacity: 1;
    transition: .1s opacity .3s;
  }
  
  .checkbox:checked+label svg #grp7 {
    opacity: 1;
    transition: .1s opacity .3s;
  }
  
  @keyframes animateCircle {
    40% {
      transform: scale(10);
      opacity: 1;
      fill: #DD4688;
    }
    55% {
      transform: scale(11);
      opacity: 1;
      fill: #D46ABF;
    }
    65% {
      transform: scale(12);
      opacity: 1;
      fill: #CC8EF5;
    }
    75% {
      transform: scale(13);
      opacity: 1;
      fill: transparent;
      stroke: #CC8EF5;
      stroke-width: .5;
    }
    85% {
      transform: scale(17);
      opacity: 1;
      fill: transparent;
      stroke: #CC8EF5;
      stroke-width: .2;
    }
    95% {
      transform: scale(18);
      opacity: 1;
      fill: transparent;
      stroke: #CC8EF5;
      stroke-width: .1;
    }
    100% {
      transform: scale(19);
      opacity: 1;
      fill: transparent;
      stroke: #CC8EF5;
      stroke-width: 0;
    }
  }
  
  @keyframes animateHeart {
    0% {
      transform: scale(0.2);
    }
    40% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes animateHeartOut {
    0% {
      transform: scale(1.4);
    }
    100% {
      transform: scale(1);
    }
  }
  .task {
    position: relative;
    color: #2e2e2f;
    cursor: move;
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
    margin-bottom: 1rem;
    border: 3px dashed transparent;
    max-width: 350px;
  }
  
  .task:hover {
    box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
    border-color: rgba(162, 179, 207, 0.2) !important;
  }
  
  .task p {
    font-size: 15px;
    margin: 1.2rem 0;
  }
  
  .tag {
    border-radius: 100px;
    padding: 4px 13px;
    font-size: 12px;
    color: #ffffff;
    background-color: #1389eb;
  }
  
  .tags {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .options {
    background: transparent;
    border: 0;
    color: #c4cad3;
    font-size: 17px;
  }
  
  .options svg {
    fill: #9fa4aa;
    width: 20px;
  }
  
  .stats {
    position: relative;
    width: 100%;
    color: #9fa4aa;
    font-size: 12px;
    display: flex;
    /* align-items: center; */
    padding-top: 25px;
  }
  
  .stats div {
    margin-right: 1rem;
    height: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .stats svg {
    margin-right: 5px;
    height: 100%;
    stroke: #9fa4aa;
  }
  .smaller{
    font-size: 10px;
  color: #ab1992;
  }
  .viewer span {
    height: 25px;
    width: 25px;
    background-color:#ffffff;
    margin-right: -10px;
    border-radius: 50%;
    display: grid;
    align-items: center;
    text-align: center;
    font-weight: bold;
    color: #ab1992;
    padding: 2px;
  }
  
  .viewer span svg {
    stroke: #fff;
  }
  
  .card {
    width: 100%;
    height: 350px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
  
    margin-right: 20px; /* Adjust as needed */
  
  }
  
  .cards-container {
    display: flex;
    justify-content: space-between;
    width: 252px;
  
  }
  
  
  .img {
    width: 100%;
    height: 60%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-size: cover;
    background-position: center; /* Center the background image */
    display: flex;
    align-items: top;
    justify-content: right;
  }
  
  
  .save {
    transition: 0.2s ease-in-out;
    border-radius: 10px;
    margin: 20px;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .text {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: space-around;
  }
  
  .save .svg {
    transition: 0.2s ease-in-out;
    width: 15px;
    height: 15px;
  }
  
  .icon-box {
    margin-top: 15px;
    width: 60%;
    padding: 10px;
    margin-right: 20px;
    background-color: #e3fff9;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: left;
  }
  
  .icon-box svg {
    width: 17px;
  }
  
  .text .h3 {
    font-family: 'Lucida Sans' sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: black;
    padding-bottom:  10px;
    padding-top:  5px;
  
  }
  
  .text .p {
    font-family: 'Lucida Sans' sans-serif;
    color: #999999;
    font-size: 13px;
    margin-right: 8px; /* Adjust spacing between elements */
    padding-bottom:  10px;
  
      display: inline-block;
      vertical-align: middle;
  
  }
  
  
  
  .company{
    font-family: 'Lucida Sans' sans-serif;
    color: #999999;
    font-size: 10px;
  
  }
  .icon-box .span {
    margin-left: 10px;
    font-family: 'Lucida Sans' sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #9198e5;
  }
  
  .card:hover {
    cursor: pointer;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.1);
  }
  
  .save:hover {
    transform: scale(1.1) rotate(10deg);
  }
  
  .save:hover .svg {
    fill: #ced8de;
  }
  .cardfav {
    width: 100%;
    height: 350px;
    background-color: #cce3f8dd;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 162, 255, 0.24);
    border: 2px solid rgba(0, 110, 255, 0.12);
    font-size: 16px;
    transition: all 0.3s ease;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
  }
  
  .icon {
    margin: 0 auto;
    width: 100%;
    height: 80px;
    max-width: 80px;
    background: linear-gradient(90deg, #fc9d9d 0%, #90d4fc 40%, rgb(255, 255, 255) 60%);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.8s ease;
    background-position: 0px;
    background-size: 200px;
  }
  
  .icon svg {
    fill: white;
  }
  
  .cardfav .title {
    width: 100%;
    margin: 0;
    text-align: center;
    margin-top: 30px;
    color: rgb(41, 37, 37);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  
  .cardfav .text {
    width: 80%;
    margin: 0 auto;
    font-size: 13px;
    text-align: center;
    margin-top: 20px;
    color: rgb(0, 0, 0);
    font-weight: 200;
    letter-spacing: 2px;
    opacity: 0;
    max-height: 0;
    transition: all 0.3s ease;
  }
  
  .cardfav:hover {
    height: 350px;
  }
  
  .cardfav:hover .text {
    transition: all 0.3s ease;
    opacity: 1;
    max-height: 40px;
  }
  
  .cardfav:hover .icon {
    background-position: -120px;
    transition: all 0.3s ease;
  }
  
  .cardfav:hover .icon svg path {
    fill:red;
    transition: all 0.3s ease;
  }
  
  
  
  
  
  .btn-conteiner {
    justify-content: center;
    --color-text: #9ee5fa;
    --color-background: #353535;
    --color-outline: #9ee5fa80;
    --color-shadow: #00000080;
  padding-top: 15px;
  
  }
  
  .btn-content {
    display: flex;
    align-items: center;
    padding: 0px 3px;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    color: var(--color-text);
    background: var(--color-background);
    transition: 1s;
    border-radius: 100px;
    box-shadow: 0 0 0.2em 0 var(--color-background);
  }
  
  .btn-content:hover,
  .btn-content:focus {
    transition: 0.5s;
    -webkit-animation: btn-content 1s;
    animation: btn-content 1s;
    outline: 0.1em solid transparent;
    outline-offset: 0.2em;
    box-shadow: 0 0 0.4em 0 var(--color-background);
  }
  
  .btn-content .icon-arrow {
    transition: 0.5s;
    margin-right: 0px;
    transform: scale(0.6);
  }
  
  .btn-content:hover .icon-arrow {
    transition: 0.5s;
    margin-right: 25px;
  }
  
  .icon-arrow {
    width: 20px;
    margin-left: 15px;
    position: relative;
    top: 6%;
  }
  
  /* SVG */
  #arrow-icon-one {
    transition: 0.4s;
    transform: translateX(-60%);
  }
  
  #arrow-icon-two {
    transition: 0.5s;
    transform: translateX(-30%);
  }
  
  .btn-content:hover #arrow-icon-three {
    animation: color_anim 1s infinite 0.2s;
  }
  
  .btn-content:hover #arrow-icon-one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
  }
  
  .btn-content:hover #arrow-icon-two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
  }
  
  /* SVG animations */
  @keyframes color_anim {
    0% {
      fill: white;
    }
  
    50% {
      fill: var(--color-background);
    }
  
    100% {
      fill: #9ee5fa;
    }
  }
  
  /* Button animations */
  @-webkit-keyframes btn-content {
    0% {
      outline: 0.2em solid var(--color-background);
      outline-offset: 0;
    }
  }
  
  @keyframes btn-content {
    0% {
      outline: 0.2em solid var(--color-background);
      outline-offset: 0;
    }
  }
  .aline {
    display: flex;
    align-items: center; /* Center vertically */
  }
  
  .card__avatar {
    position: absolute;
    width: 280px;
    height: 204px;
    background: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 210px;
    transform: translateX(-50%);
    border-radius: 50%; /* This will make the image circular */
  }
  .card__avatar {
    position: absolute;
    width: 180px; /* Default width */
    height: 204px;
    background: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 210px;
    transform: translateX(-50%);
    border-radius: 50%; /* This will make the image circular */
  }
  
  /* Media queries for different screen sizes */
  @media (max-width: 1399px) { /* Large screens */
    .card__avatar {
      width: 160px;
      padding-top: 208px; /* Adjust padding for vertical centering */
    }
  }
  @media (max-width: 1299px) { /* Large screens */
    .card__avatar {
      width: 120px;
      padding-top: 208px; /* Adjust padding for vertical centering */
    }
  }
  @media (max-width: 1199px) { /* Large screens */
    .card__avatar {
      width: 120px;
      padding-top: 208px; /* Adjust padding for vertical centering */
    }
  }
  
  @media (max-width: 991px) { /* Medium screens */
    .card__avatar {
      width: 350px;
      padding-top: 210px; /* Adjust padding for vertical centering */
    }
  }
  @media (max-width: 691px) { /* Medium screens */
    .card__avatar {
      width: 260px;
      padding-top: 210px; /* Adjust padding for vertical centering */
    }
  }
  
  @media (max-width: 575px) { /* Extra small screens */
    .card__avatar {
      width: 190px; /* Adjust width as needed */
      padding-top: 210px; /* Adjust padding for vertical centering */
    }
  }
  
  
  
  
  
  
  .cardpop-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    z-index: 999; /* Ensure it's above other content */
  }
  
  .cardpop {
    overflow: hidden;
    position: relative;
    text-align: left;
    border-radius: 0.5rem;
    max-width: 290px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    background-color: #fff;
  }
  .dismiss {
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    background-color: #fff;
    color: black;
    border: 2px solid #D1D5DB;
    font-size: 1rem;
    font-weight: 300;
    width: 30px;
    height: 30px;
    border-radius: 7px;
    transition: .3s ease;
  }
  
  .dismiss:hover {
    background-color: #ee0d0d;
    border: 2px solid #ee0d0d;
    color: #fff;
  }
  
  .header {
    padding: 1.25rem 1rem 1rem 1rem;
  }
  
  .image {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: #e2feee;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 9999px;
    animation: animate .6s linear alternate-reverse infinite;
    transition: .6s ease;
  }
  
  .image svg {
    color: #0afa2a;
    width: 2rem;
    height: 2rem;
  }
  
  .content {
    margin-top: 0.75rem;
    text-align: center;
  }
  
  .title {
    color: #066e29;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
  }
  
  .message {
    margin-top: 0.5rem;
    color: #595b5f;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  
  .actions {
    margin: 0.75rem 1rem;
  }
  
  .history {
    display: inline-flex;
    padding: 0.5rem 1rem;
    background-color: #1aa06d;
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    justify-content: center;
    width: 100%;
    border-radius: 0.375rem;
    border: none;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }
  
  .track {
    display: inline-flex;
    margin-top: 0.75rem;
    padding: 0.5rem 1rem;
    color: #242525;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    justify-content: center;
    width: 100%;
    border-radius: 0.375rem;
    border: 1px solid #D1D5DB;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }
  
  @keyframes animate {
    from {
      transform: scale(1);
    }
  
    to {
      transform: scale(1.09);
    }
  }
  
  