.addMarg {
  margin-top: 100px !important;
}
td,
th {
  font-size: smaller;
}
.editable-value {
  text-align: center;
}

.btn-minus,
.btn-plus {
  background-color: #007bff; /* Blue color, change as needed */
  color: white;
  border: none;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  transition: background-color 0.3s ease;
}

.btn-minus:hover,
.btn-plus:hover {
  background-color: #4e9349; /* Darker shade of blue */
}

.value {
  margin: 0 10px;
  font-size: 16px;
}

.css-a1sg1c-MuiButtonBase-root-MuiButton-root.Mui-disabled {
  color: gray !important;
}

.css-1hv8oq8-MuiStepLabel-label.Mui-active {
  color: white !important;
}
.brackets-viewer{
  background-color: transparent;
}
.name{
  color: black !important;
}